footer {
  background-color: rgba(4, 118, 154, 1);
  padding: 20px 0;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-div-logo {
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

#logo_footer{

    font-family: "Baloo Tammudu 2", sans-serif;
    font-size: 40px;
    color: rgba(218, 137, 130, 1);

}

.icone_rs {
  width: 30px;
  display: inline-block;
  margin: 0 10px;
}

.social-icons{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.footer-div{
  width: 20%;
}

.social-icons a {
  color: #A6F5FF;
  font-size: 24px;
}
.footer-div h4{
  margin-bottom: 15px;
}

.footer-div p {
  font-family: "Baloo Tammudu 2", sans-serif;
  font-size: 14px;
  color: white;
}