
#logo_MIMIR{
  font-family: "Baloo Tammudu 2", sans-serif;
  color: rgba(218, 137, 130, 1);
  margin-left: 100px;
  margin-top: 10px;
}

#bg_navBar{
  @include flex($a_items: center);
  background-color: rgba(80, 111, 144, 1);
}

label {
  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input, label {
  margin: 0.4rem 0;
}

.flex{
  @include flex($a_items: center);
  gap: 20px;
  margin-right: 20px;
  flex-wrap: wrap;
}

