header {
  #bg_navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $bg-color;
    padding: 10px;

    // Logo style
    #logo_MIMIR {
      margin-left: 20px;

      a {
        font-family: "Baloo Tammudu 2", sans-serif;
        font-weight: bold;
        color: $logo-color;
        text-decoration: none;
        font-size: 1.5rem;
      }
    }

    // Cacher le Burger menu
    .burger-menu {
      display: none; //  cacher par defaut sur les grand ecrans
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
      margin-right: 20px;

      div {
        height: 3px;
        background-color: $text-color;
        border-radius: 5px;
      }
    }

    // Nav style
    nav {
      ul {
        display: flex;
        gap: 20px;
        list-style-type: none;
        margin-right: 20px;

        .white {
          color: $text-color;
          text-decoration: none;
          font-size: 1rem;
        }
      }
    }
  }
}








