.login{
  /* haut | horizontal | bas */
  margin: 10% auto 0;
  width: 40%;
}

.login_bloc{
  width: 75%;
  margin: auto;


  h1{
    font-family: Arsenal, sans-serif;
    color: black;
    font-size: xx-large;
    font-weight: bold;
  }
}
.form_bloc{
  margin: 10%;
}

.input_bloc{
  margin-top: 10%;
}

.div_input{
  display: flex;
  flex-direction: column;
  gap: 10%;
  margin-bottom: 5px;
}


.div_input label{
  text-align: start;
}

.div_input input{
  height: 35px;
}

.div_button{
  margin-top: 10%;
 button{
  padding: 5px 35px ;
   cursor: pointer;
   font-size: medium;
 }
}

.inscrie_bloc {
  width: 30%;
  margin: 5% auto;
  background-color: rgba(4, 118, 154, 0.92);
  padding: 2%;

  h1 {
    font-family: Arsenal, sans-serif;
    color: #dbeafe;
    margin-bottom: 2%;
  }
  p{
    font-family: Arsenal, sans-serif;
    color: black;
  }
}