.bg_main_form{
  .blocArticle_newUser{
    background-color: rgb(197 225 238);
    border-radius: 30px;
    text-align: center;
    height: 30%;
    font-family: "Baloo Tammudu 2", sans-serif;
    color: black;
    padding: 2%;
    @media screen and (min-width: 780px) {
      width: 40%;
    }
    h1{
      font-size: x-large;
    }
  }
  .formWrapper_newUser{
    width: 72%;
    margin: 70px auto 0;
    .div_formUser{
      width: 100%;
      input{
        all:unset;
        background-color: #ecf0f1;
        border: white 1px solid;
        border-radius: 8px;
        margin: 1% auto 9%;
        width: 100%;
        height: 3vh;
      }
    }
    select{
      all: unset;
      background-color: #ecf0f1;
      border: 1px solid white;
      border-radius: 4px;
      padding: 1%;
      margin: 1% auto 9%;
      width: 70%;
      color: rgba(9, 9, 9, 0.7);
    }
    button{
      all:unset;
      background-color: #04769A;
      border: 1px solid white;
      border-radius: 4px;
      padding: 12px;
      color: white;
      cursor: pointer;
    }
  }
}