main{
  background-image: url("../image/_background_MIMIR.jpeg");
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100vh;
}

.blocArticle {
  background-color: rgba(169, 199, 212, 0.9);
  border-radius: 30px;
  width: 50%;
  text-align: center;
  height: 65vh;
  font-family: "Baloo Tammudu 2", sans-serif ;
  color: black;
  margin:  auto;
}

.text_black{
  color: black;
}


