.bg_main_color{
  background-color: #E6EBE6;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  height: 100%;
  padding: 10%;
}

.formWrapper{
  width: 80%;
  margin: auto;
}