{% extends 'public/basePublic.html.twig' %}


{% block main %}
    <h1>Nos Nounous pour vos MIMIR: </h1>
    {% for sitter in sitters %}
        {{ sitter.user.firstname }}
        {{ sitter.user.lastname }}
      {#   <p>Date de naissance : {{ sitter.bornedAt|date('d/m/Y') }}</p>
        <p>Âge : {{ (date()|date('Y') - sitter.bornedAt('Y')) }} ans</p>
      #}
    {% endfor %}

{% endblock %}