{% extends 'public/basePublic.html.twig' %}


{% block main %}

    <h1>Vous étes : </h1>
    <section class="flex">
        <article class="blocArticle">
            <h1><a class="text_black" href="{{ path("user_newParent") }}">Parent</a></h1>
        </article>
    </section>
    <section class="flex">
        <article class="blocArticle">
            <h1><a class="text_black" href="{{ path("user_newSitter") }}">Nounou</a></h1>
        </article>
    </section>
{% endblock %}